.DS_Store

content/games/*
!content/games/2025
!_index.md

content/games/2025/*
!content/games/2025/_index.md
!content/games/2025/Gomoku
!content/games/2025/Gomoku/*

public
public.zip
drecco-release.zip
drecco

zola
mybuild.sh
cims-build.sh